langchain==0.0.93
gradio==3.16.2
openai==0.26.1
faiss-cpu==1.7.3
websocket-server==0.6.4
dataclasses_json==0.5.7
tiktoken==0.2.0
weaviate-client==3.10.0
SQLAlchemy==1.4.46
SQLAlchemy_Utils==0.39.0
psycopg2-binary==2.9.5
qcore==1.8.0
PyYAML==6.0
web3==5.31.3
