aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bitarray==2.7.3
blinker==1.6.2
blobfile==2.0.1
brotlipy==0.7.0
cachetools==5.3.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1b0qzba5nr/croot/cffi_1670423213150/work
chardet @ file:///opt/concourse/worker/volumes/live/c798b2ee-88b1-4341-6830-161a92c2399e/volume/chardet_1607706832595/work
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.1
Cython==0.29.34
cytoolz==0.12.1
dataclasses-json==0.5.7
decorator==5.1.1
entrypoints==0.4
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
faiss-cpu==1.7.3
filelock==3.11.0
Flask==2.3.1
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
gpt-index==0.4.23
greenlet==2.0.1
h11==0.14.0
hexbytes==0.3.0
huggingface-hub==0.13.4
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
langchain==0.0.103
lru-dict==1.1.8
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdurl==0.1.2
multiaddr==0.0.9
multidict==6.0.4
mypy-extensions==1.0.0
netaddr==0.8.0
numpy==1.24.2
openai==0.27.1
packaging==23.0
pandas==1.5.3
parsimonious==0.8.1
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
playwright==1.32.1
protobuf==3.19.5
psycopg2-binary==2.9.5
pyarrow==11.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.7
pydeck==0.8.1b0
pyee==9.0.4
Pygments==2.15.1
Pympler==1.0.1
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6dweji2whw/croot/pyopenssl_1677607689781/work
pyrsistent==0.19.3
pysha3==1.0.2
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyWalletConnect==1.3.3
PyYAML==6.0
pyzmq==25.0.2
qcore==1.8.0
regex==2023.3.23
requests==2.28.2
rich==13.3.4
rlp==2.0.1
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.4.46
SQLAlchemy-Utils==0.39.0
streamlit==1.21.0
tenacity==8.2.2
tiktoken==0.2.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
tornado==6.3.1
tqdm==4.65.0
transformers==4.26.1
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_61c6ppfd7m/croot/urllib3_1680254700568/work
validators==0.19.0
varint==1.0.2
weaviate-client==3.10.0
web3==5.31.3
websocket-server==0.6.4
websockets==9.1
Werkzeug==2.3.0
wsproto==1.2.0
yarl==1.8.2
zipp==3.15.0
zmq==0.0.0
